<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>
 <% @appointments.each do |appointment| %>

<p>
  <strong>Slot Date:</strong>
  <%= appointment.date %>
</p>

<p>
  <strong>Slot Time:</strong>
  <%= appointment.time %>
</p>

<% end %>

<% @patients.each do |patient| %> 
<p>
  <strong>Patient Name:</strong>
  <%= patient.full_name %>
</p>

<% end %>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
